/* general styles */
:root {
  --black: #2B2730;
  --blanco: #fcfcfc;
  --bg-salmon: #EF9595;
  --color-melon: #EFB495;
  --color-crema: #EFD595;
  --color-maiz: #EBEF95;
  --antiquewhite: #faebd7;
}
html {
  box-sizing: border-box;
  font-size:62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
}
img { max-width: 100%;}
h1,h2,h3 { text-align: center; margin: 0;}
h1 {font-size: 4.8rem;}
h2 {font-size: 3.8rem;}
h3 {font-size: 2.8rem;}
p,a {font-size: 2.4rem;}
p {margin: 0;}
#navbar, #header, #main, #footer {
  max-width: 1600px;
  margin: 0 auto;
}
.Freepik {
  font-size: 1rem;
  color: #EBEF95;
}
/* Style icon */
.fa-bars, .fa-brands {
  font-size: 5rem;
}
.fa-solid {
  margin-right: 1rem;
}
.logo {
  display: block;
  width: fit-content;
  height: 5rem;
  text-decoration: none;
  color: var(--blanco);
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
}
.navbar__content-items.activate {
  display: flex;
}
/* Styles Navbar */
#navbar {
  height: auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--color-melon);
}
.navbar__logo {
  width: 100%;
}
.navbar__toggle-icon{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.navbar__content-items {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: .5rem;
  margin-top: 1rem;
}
.navbar__items {
  display: inline-block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: var(--bg-salmon);
  color: #fcfcfc;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
}

/* Desktop navbar */
@media (min-width: 992px) {
  #navbar {
    justify-content: space-between;
  }
  .navbar__toggle-icon{
    display: none;
  }
  .navbar__logo{
    width: fit-content;
  }
  .navbar__content-items {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  .navbar__items{
    width: fit-content;
    font-size: 2rem;
  }
  .fa-solid {
    font-size: 2.4rem;
  }
  .logo:hover, .navbar__items:hover {
    color: var(--color-maiz);
  }
}

/* styles Header */
#header {
  height: auto;
  max-height: 80rem;
  min-height: 57.5rem;
  padding: 1rem 0;
  overflow: hidden;
  /* background-color: var(--antiquewhite); */
}
.cover {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.cover__article {
  height: fit-content;
  width: 95%;
  padding: 1.5rem;
  color: var(--bg-salmon);
  background-color: var(--blanco);
  border-radius: 1rem;
}
.cover__text {
  text-align: justify;
  font-weight: 500;
}
.cover__img-container {
  height: fit-content;
  max-height: 50rem;
  width: 95%;
  border-radius: 1rem;
  overflow: hidden;
}
/* Desktop  Header*/
@media (min-width: 992px) {
  #header {
    display: grid;
    place-content: center;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
  .cover {
    flex-direction: row;
    max-width: 95%;
    margin: 0 auto;
  }
}
/* Styles Main */
#main {
  background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}
/* Styles jornadas */
.jornadas {
  background-color: var(--blanco);
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.jornadas-title, 
.ayuda-title,
.historias-title {
  width: 100%;
  color: var(--bg-salmon);
  /* background-color: var(--blanco); */
}
.card {
  background-color: var(--bg-salmon);
  max-width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--blanco);
}
.card-title {
  margin: .8rem 0;
}
.map-img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.card-text{
  margin-top: .8rem;
}
/* styles ayuda */
.ayuda {
  background-color: var(--blanco);
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.ayuda-title {
  margin-bottom: 2rem;
}
.ayuda-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.ayuda-link {
  text-decoration: none;
  color: transparent;
}
.ayuda-box {
  max-width: 50rem;
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  place-content: center;
  background-color: var(--color-maiz);
}
.container-title {
  color: var(--black);
}
@media (max-width: 600px) {
  .ayuda-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .ayuda-box {
    max-width: 100%;
  }
}
/* styles historias */
.historias {
  background-color: var(--blanco);
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: justify;
}
.historias-title {
  margin-bottom: 1rem;
}
.historias-content {
  display: flex;
  flex-direction: column;
}
.historias-img {
  max-width: 60rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: var(--color-maiz);
}
.historias-text {
  padding: 1rem;
}
@media (min-width: 600px) {
  .historias-content {
    flex-direction: row;
    align-items: center;
  }
  .historias-img, .historias-text {
    width: calc(50% - 1.6rem);
  }
}
/* Styles footer */
#footer {
  padding: .5rem;
  background-color: var(--bg-salmon);
  color: var(--blanco);
}
.social-networks {
  max-width: 50rem;
  margin: 0 auto;
}
.social-networks__title {
  margin-bottom: 2rem;
}
.footer__text {
  padding: 1rem;
  text-align: center;
}
.social-networks__items {
  display: flex;
  justify-content: space-evenly;
  gap: .5rem;
  flex-wrap: wrap;
}
.social-networks__item {
  text-decoration: none;
  color: var(--color-crema);
}
.team19 {
  font-weight: bold;
  color: var(--color-crema);
}
/* fonts sizes:
Light 300
Regular 400
Medium 500
Bold 700 */